@media only screen and (max-width: 1280px) {
  body {
    max-width: 1280px;
  }

  .header-actions {
    margin-left: 90px;
  }

  .contact-info {
    padding-left: 70px;
    padding-right: 30px;
  }

  .button-secondary,
  .button-primary {
    padding-left: 40px;
    padding-right: 40px;
  }

  .newsletter-container {
    gap: 90px;
  }
}