/* Header Top Section */
.header {
  display: flex;
  justify-content: space-between;
  padding: 27px 16px 10px 16px;
}

.mobile-menu {
  width: 40px;
  height: 40px;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu:hover {
  background-color: var(--red-dark);
}

.logo {
  font-family: 'Inconsolata', monospace;
  color: var(--primary);
  font-family: Inconsolata;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 65px;
  text-align: center;
  align-self: flex-end;
  padding-bottom: 5px;
  flex: 0 1 30%;
  margin-left: 43px;
}

.logo span {
  color: var(--red);
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.cart-icon {
  position: relative;
  margin-left: 8px;
  cursor: pointer;
}

.cart-icon:hover {
  fill: var(--red);
}

.cart-items {
  position: absolute;
  color: var(--white);
  font-size: 7px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: var(--red);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  right: -2px;
  top: -2px;
}