/*  Buttons */
.button {
  display: block;
  cursor: pointer;
  background: transparent;
}

.button-chevron {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid var(--terracotta);
  color: var(--terracotta);
}

.button-chevron:hover {
  border: 2px solid var(--brown-dark);
  color: var(--brown-dark);
}

.button-chevron-down {
  width: 50px;
  height: 50px;
  border: 2px solid var(--terracotta);
  color: var(--terracotta);
}

.button-chevron-left {
  transform: rotate(90deg);
}

.button-chevron-right {
  transform: rotate(-90deg);
}

.button-more {
  color: var(--terracotta);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
}

.button-more:hover {
  color: var(--brown-dark);
}