/*      colors      */
:root {
  --terracotta: #A06056;
  --brown-light: rgba(112, 100, 88, 0.90);
  --brown-dark: #534B42;
  --brown: #706458;
  --primary: #121212;
  --white: #FFFFFF;
  --ochre: #F3EEE8;
}